@import url(animations.css);
@import url(navbar.css);

/* Variables */
:root {
    --main-bg-color: rgb(15, 15, 15);
    --sub-bg-color: rgb(50, 50, 50, 0.6);
    --mobile-size: 600px;
}

body {
    margin:0;
    background: var(--main-bg-color);
    width: 100%;
    color: white;
    font-family: "Space Mono", monospace;
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px)
{
    section {
        width: 90%;
        min-height: 100vh;
    }
}
@media screen and (min-width: 600px) {
    section {
        width: 65%;
        min-height: 100vh;
    }
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    color: white;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

p {
    margin-bottom: 35px;
}

.gradient-text {
    color: transparent;
    background-image: linear-gradient(162deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 30%);
    -webkit-background-clip: text;
    background-clip: text;
}

/*Home Page*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#effectDesktop {
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background: rgb(36,36,36);
    text-wrap: wrap;
    overflow: hidden;

    font-size: 18px;
    color: transparent;
    background-image: linear-gradient(162deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 10px;
}

#effectDesktop > b {
    color: rgba(255, 255, 255, 0.15);
}

#effectMobile {
    width: 100%;
}
.down {
    background: rgb(24,24,24);
    border-radius: 50px;
    transition-duration: 0.7s;
    padding: 5px;
    padding-bottom: 0px;
}
.down:hover {
    background: white;
    transition-duration: 0.7s;
}

.down > svg {
    fill:white;
    margin: 0;

    width: 30px;
    height: 30px;

    transition-duration: 0.7s;
}

.down > svg:hover {
    fill: black;
    transition-duration: 0.7s;
}

/* About Me */
#aboutMe p {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    #about-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #about-content img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    #links {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 25px;
    }
}

@media screen and (min-width: 600px) {
    #about-content {
        width: 100%;
        display: flex;
        gap: 100px;
    }

    #about-content img {
        width: 40%;
        object-fit: cover;
        border-radius: 10px;
    }

    #links {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 65px;
    }
}

#links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 65px;
}

#links > a > svg{
    height: 38px;
    width: 38px;
    fill: white;
    transition: 200ms;
}

#links > a > svg:hover {
    fill: rgb(60,60,60);

}

/* Skills */

@media screen and (max-width: 600px) {
    #skills {
        margin-bottom: 30px;
    }
    .skill > .flexcontainer{
        display: flex;
        flex-direction: column;
       }

    .skill {
        width: 620px;
        padding: 14px;
        border-radius: 15px;
    }

    .gradient {
        width: fit-content;
        border-radius: 15px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 600px) {
    #skills {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .skill > .flexcontainer{
        display: flex;
       }

    #webdev {
        margin-left: 20%;
    }
    .skill {
        width: 620px;
        padding: 14px;
        border-radius: 15px;
        transform: translate(-50px, -40px);
        background: linear-gradient(180deg, rgb(24,24,24) 0%, rgb(40, 40, 40) 100%);
    }

    .gradient {
        width: fit-content;
        border-radius: 15px;
    
        background: linear-gradient(162deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        margin-bottom: 90px;
    }

    #webdev > .skill {
        transform: translate(50px, -40px);
    }
}

/*Projects*/
@media screen and (max-width: 600px) {
    .project {
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;

        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 40px;
    }
    .project > .thumbnail {
        width: 100%;

        display: flex;
        justify-content: center;
    }

    .project >.thumbnail > img {
        width: 90%;
        max-height: 290px;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media screen and (min-width: 600px) {
    .project {
        background: rgb(24,24,24);
        border-radius: 20px;
        padding: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        gap: 20%;
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 40px;
        
    }
    .project > .thumbnail {
        width: 25%;
    }

    .project >.thumbnail > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.project > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project > .info > div > h2 {
    text-wrap: nowrap;
}

.project > .info > div > a {
    text-wrap: nowrap;
}

.project > .info > .text {
    width:100%;
    height: 150px;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (min-width:870px) {
    .project > .info {
        width: 50%;
    }
}